<table class="table epl-table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Games</th>
      <th><strong>Points</strong></th>
      <th>Wins</th>
      <th>Draws</th>
      <th>Losses</th>
      <th>Goals</th>
      <th>GD</th>
    </tr>
  </thead>
  <tbody>
    <% teams.forEach(function(team) { %>
      <tr>
        <td><img src="<%- team.crestURI -%>" height="50px" width="50px"/></td>
        <td><%- team.teamName -%></td>
        <td><%- team.playedGames -%></td>
        <td><strong><%- team.points -%></strong></td>
        <td><%- team.wins -%></td>
        <td><%- team.draws -%></td>
        <td><%- team.losses -%></td>
        <td><%- team.goals -%></td>
        <td><%- team.goalDifference -%></td>

      </tr>
    <% }); %>
  </tbody>
</table>
