<table class="table epl-table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>Games</th>
      <th><strong>Points</strong></th>
      <th class="hide-on-mobile">Wins</th>
      <th class="hide-on-mobile">Draws</th>
      <th class="hide-on-mobile">Losses</th>
      <th class="hide-on-mobile hide-on-tablet">Goals</th>
      <th class="hide-on-mobile hide-on-tablet">GD</th>
    </tr>
  </thead>
  <tbody>
    <% teams.forEach(function(team) { %>
      <tr>
        <td><img src="<%- team.crestURI -%>" height="50px" width="50px"/></td>
        <td><%- team.position -%></td>
        <td><%- team.teamName -%></td>
        <td><%- team.playedGames -%></td>
        <td><strong><%- team.points -%></strong></td>
        <td class="hide-on-mobile"><%- team.wins -%></td>
        <td class="hide-on-mobile"><%- team.draws -%></td>
        <td class="hide-on-mobile"><%- team.losses -%></td>
        <td class="hide-on-mobile hide-on-tablet"><%- team.goals -%></td>
        <td class="hide-on-mobile hide-on-tablet"><%- team.goalDifference -%></td>
      </tr>
    <% }); %>
  </tbody>
</table>
